<h1>Editing investigator</h1>

<%= render "form", investigator: @investigator %>

<br>

<div>
  <%= link_to "Show this investigator", @investigator %> |
  <%= link_to "Back to investigators", investigators_path %>
</div>
