<div class="row d-flex align-items-center mb-3">
  <div class="col-md-6 mt-4">
    <h1>INVESTIGADORES</h1>
  </div>
  <div class="col-md-6 mt-3 text-end">
    <%= link_to new_investigator_path, class:"btn btn-primary" do %>
      <i class="bi bi-person-plus"></i>&nbsp;
      Agregar nuevo investigador
    <% end %>
  </div>
</div>
<hr>


<% if @investigators.length != 0 %>
    <div id="investigators" class="mt-4">
      <% @investigators.each do |investigator| %>
        <div class="mb-5 mx-2">
          <%= render investigator %>
          <p>
            <%= link_to "Ver detalles", investigator %>
          </p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center mt-4">
      <p style="font-size:18px; color:grey;"><i class="bi bi-info-circle-fill"></i> &nbsp; No hay investigadores para listar . . .</p>
    </div>
  <% end %>
