<div class="row d-flex mb-4">
  <div class="col-6">
    <%= form.label "Código del Proyecto", style: "display: block", class: "fw-bold mb-2"%>
    <%= form.text_field :code, class: "form-control", placeholder: "Código"%>
  </div>
  <div class="col-6">
    <%= form.label "Nombre del Proyecto", style: "display: block", class: "fw-bold mb-2"%>
    <%= form.text_field :name, class: "form-control", placeholder: "Nombre"%>
  </div>
</div>