<%= form_with(model: record) do |form| %>
    
    <div data-controller="record-forms">
        <div class="row d-flex align-items-center mb-3">
          <div class="col-6 mt-1 font-weight-bold">
            <h4>ARTÍCULOS</h4>
          </div>
          <div class="col-6 text-end">
            <%= link_to "#", data: { action: "record-forms#add_article" }, class: "btn btn-sm btn-primary px-3" do %>
              <i class="bi bi-plus-circle-dotted"></i>
              ARTICULO
            <% end %>
          </div>
        </div>
        <hr>
        <div data-record-forms-target="art_reference"></div> <!-- Used as a reference point to add articles at the end -->

        <template data-record-forms-target="art_template">
            <%= form.fields_for :articles, Article.new do |article| %>
                <div>
                <%= render "records/articles/articles_fields", form: article, record: record %>
                </div>
            <% end %>
        </template>
    </div>
<% end %>