<% if notice != nil %>
  <div class="row justify-content-md-center">
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
      <div class="mt-1 d-flex align-items-center">
        <i class="bi bi-info-circle-fill mx-2"></i>
        <p id="notice" style="color: green" class="mx-2 my-2"><%= notice %></p>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h2 id="alert" class="alert-heading"><%= alert %></h2>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
