<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light text-dark mt-3">
  <div class="container text-center">
    <small>Derechos reservados &copy; 
      <a href="https://www.ucr.ac.cr/" class="text-decoration-none text-dark" 
      target="_blank">Universidad de Costa Rica</a>
    </small>
  </div>
</footer>