<footer id="sticky-footer" class="flex-shrink-0 py-4 text-dark mt-3 ucr-blue">
  <div class="container text-center text-light">
    <small>Derechos reservados &copy; 
      <a href="https://www.ucr.ac.cr/" class="text-decoration-none text-light" 
      target="_blank">Universidad de Costa Rica</a>
    </small>
  </div>
</footer>