<div class="row justify-content-md-center d-flex align-items-center mb-3">
  <div class="col-md-6">
    <h1 class="mt-4">ACTAS</h1>
  </div>
  <div class="col-md-6 mt-4 text-end">
    <%= link_to new_record_path, class:"btn btn-primary" do %>
      <i class="bi bi-journal-plus"></i>
      Agregar nueva acta
    <% end %>
  </div>
</div>

<hr>

<div id="records">
  <% if @records.length != 0 %>
    <% @records.each do |record| %>
      <%= render record %>
      <p>
        <%= link_to "Show this record", record %>
      </p>
    <% end %>
  <% else %>
    <div class="text-center mt-4">
      <p style="font-size:18px; color:grey;"><i class="bi bi-info-circle-fill"></i> &nbsp; No hay actas para listar . . .</p>
    </div>
  <% end %>
</div>
