<% if @record.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h2 class="alert-heading"><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% @record.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="p-5 border border-2 rounded-3 shadow-sm">
  <div class="row mb-3 text-center">
    <h1 class=>Nueva acta</h1>
  </div>
  <div class="row px-5">
    <%= render "form", record: @record %>
  </div>
</div>
<br>
<div class="text-center mb-4">
  <%= link_to "[ Regresar a la lista de actas ]", records_path, class: "text-decoration-none" %>
</div>
