html,
body {
    height: 100%;
    overflow-x: hidden;
}

#page-content {
    flex: 1 0 auto;
}

.ucr-button {
    background-color: #F7921F;
    font-weight: bold;
    color: #fff;
}

.ucr-button:hover {
    background-color: #c6761b;
    color: rgb(216, 216, 216);
}

.ucr-blue {
    background-color: #085CA4;
}